In [22]:
#import libraries

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import display
%matplotlib inline

In [23]:
df_train = pd.read_csv('./data/train.csv')
df_test  = pd.read_csv('./data/test.csv')

In [35]:
def summary(df):
    print("number of rows: %s" % len(df.index))
    print("number of columns: %s" % len(df.columns.values))
    display(df.head())

summary(df_train)
summary(df_test)

number of rows: 199523
number of columns: 41

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,country_father,country_mother,country_self,citizenship,business_or_self_employed,fill_questionnaire_veteran_admin,veterans_benefits,weeks_worked_in_year,year,income_level
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,0
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,0
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,0
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,0

number of rows: 99762
number of columns: 41

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,country_father,country_mother,country_self,citizenship,business_or_self_employed,fill_questionnaire_veteran_admin,veterans_benefits,weeks_worked_in_year,year,income_level
0,38,Private,6,36,1st 2nd 3rd or 4th grade,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,12,95,1
1,44,Self-employed-not incorporated,37,12,Associates degree-occup /vocational,0,Not in universe,Married-civilian spouse present,Business and repair services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,26,95,1
2,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,1
3,35,Private,29,3,High school graduate,0,Not in universe,Divorced,Transportation,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,1
4,49,Private,4,34,High school graduate,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95,1

In [39]:
def convert_income_level(df):
    df['income_level'] = np.where(df['income_level'] == -50000,0,1)

convert_income_level(df_train)
convert_income_level(df_test)

In [53]:
def remove_columns_with_null_values(df,threshold):
    #select columns with more than threshold
    df = df.dropna(thresh=threshold*len(df), axis=1)
    #replace all other missing values with string
    df = df.replace(np.nan, 'null_value', regex=True)
    return df
    
df_train = remove_columns_with_null_values(df_train,0.05)   
df_test  = remove_columns_with_null_values(df_test,0.05)

In [54]:
df_train = df_train.replace(np.nan,'null_value',regex=True)

In [51]:
for col in df_train.columns.values:
    print(df_train[col].unique())

[73 58 18  9 10 48 42 28 47 34  8 32 51 46 26 13 39 16 35 12 27 56 55  2  1
 37  4 63 25 81 11 30  7 66 84 52  5 36 72 61 41 90 49  6  0 33 57 50 24 17
 53 40 54 22 29 85 38 76 21 31 74 19 15  3 43 68 71 45 62 23 69 75 44 59 60
 64 65 70 67 78 20 14 83 86 89 77 79 82 80 87 88]
['Not in universe' 'Other' 'Private']
[0 'Other' 33]
[0 'Other']
['High school graduate' 'Some college but no degree' 'Other' 'Children'
 'Bachelors degree(BA AB BS)']
[   0 1200  876 ..., 3156 2188 1092]
['Not in universe' 'Other']
['Widowed' 'Divorced' 'Never married' 'Married-civilian spouse present'
 'Other']
['Not in universe or children' 'Other' 'Retail trade']
['Not in universe' 'Precision production craft & repair'
 'Professional specialty' 'Executive admin and managerial' 'Other'
 'Adm support including clerical' 'Other service' 'Sales']
['White' 'Other' 'Black']
['All other' 'Other' 'null_value']
['Female' 'Male']
['Not in universe' 'No' 'Yes']
['Not in universe' 'Job loser - on layoff' 'Other job loser' 'New entrant'
 'Re-entrant' 'Job leaver']
['Not in labor force' 'Children or Armed Forces' 'Full-time schedules'
 'Unemployed full-time' 'Unemployed part- time'
 'PT for non-econ reasons usually FT' 'PT for econ reasons usually PT'
 'PT for econ reasons usually FT']
[    0  5178   991  2829  3464  5556  7298 15024  1831  3137 10605 20051
  2538  3908  2407  2050  3103  1086  7688  5013  4386  2414 99999 13550
  2174  4650  4064   914  2354  4787  2009  2597  1055  6097  2635  2105
  3325  6767  2228  2062  3942 27828  9562  2176  7262  2202  2290  1173
  8614  2329  2653  7430  3456  2580 10520  2907  3471  2885  9386  2993
  7896 14084  3818  1409   594  7978  1797  2964  4934  1848  4101  3418
  3432  2774  1424  6849  4687  6418  4508  3674  3411  2936  4416  2346
 10566  7443  5455  1151 25236  2463  1455  3781 14344  4865 11678  1471
  5060   114  4931  1506   401 25124 15020  2036  3273  6514  1111  2977
 41310 18481  6497  6723 15831  2098  1264 34095 22040  3887  2961  5721
  1090  6360  3800  2387  1731  6612  9472  4594  2601  1140  2227  8530]
[   0 1590 1977 1669 1719 2444 1421 1848 2205 2149 2001 1902 2090 1573 2415
 2377 1876 1602 1740 1974 2339 1887 1258 2597 2603 1408 1980 1721 1816 1340
 2788 2174 2042 1485 2489 2129 2457 2051 1762 2057 1672 2258  213 1651 2206
 3770 1628 1564 1668 1735 1579  625 4608 2559 2246 4356 1844 2002 2267 3175
 1380 2392 1092 1504 2238 2704 2467  810 1539 2824 1741 1870 1944 1825  419
 2547 1510  880 1617 1411 1648  323 2282 2352 3004 1755 1429  653 2163 2179
 1436 2722 3500 1640  974 1021 2754 1726 3900 2027  772 2231 1138 1594 2465
 2519 1956 1911 2472 2201 2080 3683  155]
[   0 6000  100 ...,  169 1055 7958]
['Nonfiler' 'Head of household' 'Joint both under 65' 'Single'
 'Joint both 65+' 'Joint one under 65 & one 65+']
['Not in universe' 'South' 'Northeast' 'Midwest' 'West' 'Abroad']
['Not in universe' 'Arkansas' 'Utah' 'Michigan' 'Minnesota' 'Alaska'
 'Kansas' 'Indiana' 'null_value' 'Massachusetts' 'New Mexico' 'Nevada'
 'Tennessee' 'Colorado' 'Abroad' 'Kentucky' 'California' 'Arizona'
 'North Carolina' 'Connecticut' 'Florida' 'Vermont' 'Maryland' 'Oklahoma'
 'Oregon' 'Ohio' 'South Carolina' 'Texas' 'Montana' 'Wyoming' 'Georgia'
 'Pennsylvania' 'Iowa' 'New Hampshire' 'Missouri' 'Alabama' 'North Dakota'
 'New Jersey' 'Louisiana' 'West Virginia' 'Delaware' 'Illinois' 'Maine'
 'Wisconsin' 'New York' 'Idaho' 'District of Columbia' 'South Dakota'
 'Nebraska' 'Virginia' 'Mississippi']
['Other Rel 18+ ever marr not in subfamily' 'Householder'
 'Child 18+ never marr Not in a subfamily'
 'Child <18 never marr not in subfamily' 'Spouse of householder'
 'Secondary individual' 'Other Rel 18+ never marr not in subfamily'
 'Nonfamily householder' 'Grandchild <18 never marr not in subfamily'
 'Grandchild <18 never marr child of subfamily RP'
 'Child 18+ ever marr Not in a subfamily'
 'Child 18+ never marr RP of subfamily' 'Child 18+ spouse of subfamily RP'
 'Other Rel <18 never marr child of subfamily RP'
 'Child under 18 of RP of unrel subfamily'
 'Grandchild 18+ never marr not in subfamily'
 'Child 18+ ever marr RP of subfamily'
 'Other Rel 18+ ever marr RP of subfamily' 'RP of unrelated subfamily'
 'Other Rel 18+ spouse of subfamily RP'
 'Other Rel <18 never marr not in subfamily'
 'Other Rel <18 spouse of subfamily RP' 'In group quarters'
 'Grandchild 18+ spouse of subfamily RP'
 'Other Rel 18+ never marr RP of subfamily'
 'Child <18 never marr RP of subfamily'
 'Child <18 ever marr not in subfamily'
 'Other Rel <18 ever marr RP of subfamily'
 'Grandchild 18+ ever marr not in subfamily'
 'Child <18 spouse of subfamily RP' 'Spouse of RP of unrelated subfamily'
 'Other Rel <18 never married RP of subfamily'
 'Grandchild 18+ never marr RP of subfamily'
 'Grandchild 18+ ever marr RP of subfamily'
 'Child <18 ever marr RP of subfamily'
 'Other Rel <18 ever marr not in subfamily'
 'Grandchild <18 never marr RP of subfamily'
 'Grandchild <18 ever marr not in subfamily']
['Other relative of householder' 'Householder' 'Child 18 or older'
 'Child under 18 never married' 'Spouse of householder'
 'Nonrelative of householder' 'Group Quarters- Secondary individual'
 'Child under 18 ever married']
['null_value' 'MSA to MSA' 'Nonmover' 'NonMSA to nonMSA' 'Not in universe'
 'Not identifiable' 'Abroad to MSA' 'MSA to nonMSA' 'Abroad to nonMSA'
 'NonMSA to MSA']
['null_value' 'Same county' 'Nonmover' 'Different region'
 'Different county same state' 'Not in universe'
 'Different division same region' 'Abroad' 'Different state same division']
['null_value' 'Same county' 'Nonmover' 'Different state in South'
 'Different county same state' 'Not in universe'
 'Different state in Northeast' 'Abroad' 'Different state in Midwest'
 'Different state in West']
['Not in universe under 1 year old' 'No' 'Yes']
['null_value' 'Yes' 'Not in universe' 'No']
[0 1 6 4 5 3 2]
['Not in universe' 'Both parents present' 'Mother only present'
 'Neither parent present' 'Father only present']
['United-States' 'Vietnam' 'Philippines' 'null_value' 'Columbia' 'Germany'
 'Mexico' 'Japan' 'Peru' 'Dominican-Republic' 'South Korea' 'Cuba'
 'El-Salvador' 'Canada' 'Scotland' 'Outlying-U S (Guam USVI etc)' 'Italy'
 'Guatemala' 'Ecuador' 'Puerto-Rico' 'Cambodia' 'China' 'Poland'
 'Nicaragua' 'Taiwan' 'England' 'Ireland' 'Hungary' 'Yugoslavia'
 'Trinadad&Tobago' 'Jamaica' 'Honduras' 'Portugal' 'Iran' 'France' 'India'
 'Hong Kong' 'Haiti' 'Greece' 'Holand-Netherlands' 'Thailand' 'Laos'
 'Panama']
['United-States' 'Vietnam' 'null_value' 'Columbia' 'Mexico' 'El-Salvador'
 'Peru' 'Puerto-Rico' 'Cuba' 'Philippines' 'Dominican-Republic' 'Germany'
 'England' 'Guatemala' 'Scotland' 'Portugal' 'Italy' 'Ecuador' 'Yugoslavia'
 'China' 'Poland' 'Hungary' 'Nicaragua' 'Taiwan' 'Ireland' 'Canada'
 'South Korea' 'Trinadad&Tobago' 'Jamaica' 'Honduras' 'Iran' 'France'
 'Cambodia' 'India' 'Hong Kong' 'Haiti' 'Japan' 'Greece'
 'Holand-Netherlands' 'Thailand' 'Panama' 'Laos'
 'Outlying-U S (Guam USVI etc)']
['United-States' 'Vietnam' 'null_value' 'Columbia' 'Mexico' 'Peru' 'Cuba'
 'Philippines' 'Dominican-Republic' 'El-Salvador' 'Canada' 'Scotland'
 'Portugal' 'Guatemala' 'Ecuador' 'Germany' 'Outlying-U S (Guam USVI etc)'
 'Puerto-Rico' 'Italy' 'China' 'Poland' 'Nicaragua' 'Taiwan' 'England'
 'Ireland' 'South Korea' 'Trinadad&Tobago' 'Jamaica' 'Honduras' 'Iran'
 'Hungary' 'France' 'Cambodia' 'India' 'Hong Kong' 'Japan' 'Haiti'
 'Holand-Netherlands' 'Greece' 'Thailand' 'Panama' 'Yugoslavia' 'Laos']
['Native- Born in the United States' 'Foreign born- Not a citizen of U S'
 'Foreign born- U S citizen by naturalization'
 'Native- Born abroad of American Parent(s)'
 'Native- Born in Puerto Rico or U S Outlying']
[0 2 1]
['Not in universe' 'No' 'Yes']
[2 0 1]
[ 0 52 30 49 32 15 38 48  9 24 50 10 45 43  4 26 40 20  6 12 51  1  8 39 13
 16 34 14 36 44 22 41 46 28 23 35 25 17 11 37  5 42 29  2 21 19 47  3 27  7
 18 33 31]
[95 94]
[1]

In [60]:
continuous_variables = ['age', 
                        'wage_per_hour',
                        'capital_gains',
                        'capital_losses',
                        'dividend_from_Stocks', 
                        'weeks_worked_in_year',
                        'income_level']

def group_low_frequency_categories(df,threshold):
    categories = df.drop(continuous_variables,axis=1)
    cols = categories.columns.values
    for col in cols:
        counts= categories[col].value_counts()
        length = categories[col].count()
        values = categories[col].unique()
        for value in values:
            if counts[value] < (length * threshold):
                categories[col].replace(value,'Other',inplace=True)
        for col in categories.columns.values:
            df[col] = categories[col]
            
        

group_low_frequency_categories(df_train,0.05)
group_low_frequency_categories(df_test,0.05)

In [59]:
df_train

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,country_father,country_mother,country_self,citizenship,business_or_self_employed,fill_questionnaire_veteran_admin,veterans_benefits,weeks_worked_in_year,year,income_level
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,1
1,58,Other,Other,Other,Some college but no degree,0,Not in universe,Divorced,Other,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
2,18,Not in universe,0,0,Other,0,Other,Never married,Not in universe or children,Not in universe,...,Other,Other,Other,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,1
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
5,48,Private,Other,Other,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Other,Professional specialty,...,Other,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,1
6,42,Private,Other,Other,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Other,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
7,28,Private,Other,Other,High school graduate,0,Not in universe,Never married,Other,Other,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,30,95,1
8,47,Other,Other,Other,Some college but no degree,876,Not in universe,Married-civilian spouse present,Other,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,1
9,34,Private,Other,Other,Some college but no degree,0,Not in universe,Married-civilian spouse present,Other,Other,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
10,8,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
11,32,Not in universe,0,0,High school graduate,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Other,Other,Other,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,1
12,51,Private,Other,Other,Some college but no degree,0,Not in universe,Married-civilian spouse present,Other,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
13,46,Private,Other,Other,High school graduate,0,Not in universe,Divorced,Other,Other service,...,Other,Other,Other,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,1
14,26,Private,Other,Other,Bachelors degree(BA AB BS),0,Not in universe,Never married,Other,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,1
15,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
16,47,Private,Other,Other,Bachelors degree(BA AB BS),0,Not in universe,Never married,Other,Other,...,Other,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,1
17,39,Not in universe,0,0,Other,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Mexico,Other,Other,Foreign born- Not a citizen of U S,0,Not in universe,2,0,94,1
18,16,Not in universe,0,0,Other,0,Other,Never married,Not in universe or children,Not in universe,...,United-States,Other,United-States,Native- Born in the United States,0,Not in universe,2,0,95,1
19,35,Private,Other,Other,High school graduate,0,Not in universe,Married-civilian spouse present,Other,Other,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,49,95,1
20,12,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
21,27,Other,Other,Other,Some college but no degree,0,Not in universe,Married-civilian spouse present,Other,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,Other,Not in universe,2,52,94,1
22,56,Private,Other,Other,Some college but no degree,500,Not in universe,Married-civilian spouse present,Other,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,32,95,1
23,46,Private,Other,Other,Other,0,Not in universe,Married-civilian spouse present,Other,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
24,55,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Other,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,1
25,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
26,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Other,Other,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
27,37,Private,Other,Other,Some college but no degree,0,Not in universe,Married-civilian spouse present,Other,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,1
28,4,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,1
29,37,Private,Other,Other,Bachelors degree(BA AB BS),0,Not in universe,Never married,Other,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199493,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
199494,5,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
199495,44,Other,Other,Other,Some college but no degree,0,Not in universe,Married-civilian spouse present,Other,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,94,1
199496,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
199497,40,Other,Other,Other,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Other,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95,1
199498,50,Private,Other,Other,High school graduate,0,Not in universe,Married-civilian spouse present,Other,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
199499,59,Private,Other,Other,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Other,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,1
199500,74,Other,Other,Other,Other,0,Not in universe,Widowed,Other,Other,...,Other,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
199501,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
199502,50,Other,Other,Other,Some college but no degree,0,Not in universe,Married-civilian spouse present,Other,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,48,95,1
199503,24,Private,33,Other,Other,0,Not in universe,Never married,Retail trade,Other service,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,1
199504,43,Private,Other,Other,High school graduate,0,Not in universe,Married-civilian spouse present,Other,Other,...,Mexico,Other,Other,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95,1
199505,33,Private,Other,Other,High school graduate,0,Not in universe,Married-civilian spouse present,Other,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,1
199506,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
199507,25,Other,33,Other,Some college but no degree,0,Not in universe,Never married,Retail trade,Sales,...,Other,Other,Other,Other,0,Not in universe,2,52,94,1
199508,62,Private,Other,Other,Some college but no degree,0,Not in universe,Other,Other,Executive admin and managerial,...,Other,United-States,United-States,Native- Born in the United States,2,Other,Other,52,95,1
199509,47,Other,Other,Other,Other,0,Not in universe,Married-civilian spouse present,Other,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,1
199510,25,Private,33,Other,Some college but no degree,0,Not in universe,Never married,Retail trade,Other,...,United-States,Other,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
199511,47,Private,Other,Other,Some college but no degree,0,Not in universe,Married-civilian spouse present,Other,Other,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,1
199512,71,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,1
199513,57,Private,Other,Other,Other,0,Not in universe,Divorced,Other,Other,...,Other,Other,Other,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95,1
199514,51,Private,33,Other,Other,0,Not in universe,Widowed,Retail trade,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
199515,87,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,Other,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,1
199516,3,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,1
199517,39,Private,Other,Other,Bachelors degree(BA AB BS),0,Not in universe,Never married,Other,Adm support including clerical,...,Mexico,Other,Other,Foreign born- Not a citizen of U S,2,Not in universe,2,52,95,1
199518,87,Not in universe,0,0,Other,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Other,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,1
199519,65,Other,Other,Other,Other,0,Not in universe,Married-civilian spouse present,Other,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,1
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Other,Other,Other,Other,0,Not in universe,2,52,95,1
199521,16,Not in universe,0,0,Other,0,Other,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,1
199522,32,Private,Other,Other,High school graduate,0,Not in universe,Never married,Other,Other service,...,Other,Other,Other,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,1