In [40]:
#import libraries

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import display
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from collections import Counter
import matplotlib.pyplot as plt
from imblearn.over_sampling import RandomOverSampler, SMOTE
from sklearn.metrics import recall_score
%matplotlib inline

In [41]:
#import training data
df_train = pd.read_csv('./data/train.csv')
df_test  = pd.read_csv('./data/test.csv')

In [72]:
continuous_variables = ['age', 
                        'wage_per_hour',
                        'capital_gains',
                        'capital_losses',
                        'dividend_from_Stocks', 
                        'weeks_worked_in_year'
                       ]

# Define functions 
def summary(df):
    """
    Prints summary of data
    
    Arguments: df - pd.DataFrame
    
    Returns: None
    
    """
    
    print("number of rows: %s" % len(df.index))
    print("number of columns: %s" % len(df.columns.values))
    print("List of columns %s" % df.columns.values)
    display(df.head())
    
    return None
    
def convert_income_level(df):
    """
    Converts income_level_column to 0/1
    
    Arguments: df - pd.DataFrame
    
    Returns: x - pd.DataFrame
    
    """
    
    #Assign df to x
    x = df
    x['income_level'] = x['income_level'].astype(str)
    x['income_level'] = np.where(x['income_level'] == '-50000',0,1)
    
    return x

def remove_columns_with_null_values(df,threshold):
    """
    Removes columns with missing values over a certain percent
    
    Arguments: df:pd.DataFrame, threshold:float
    
    Returns: x:pd.DataFrame
    
    """
    
    #Assign df to x
    x = df

    #select columns with more than threshold
    x = x.dropna(thresh=threshold*len(x), axis=1)
    #replace all other missing values with string
    x = x.replace(np.nan, 'null_value', regex=True)
    
    return x

def group_low_frequency_categories(df,threshold):
    """
    Groups low frequency categories with less 
    than threshold
    
    Arguments: df:pd.DataFrame,threshold:float
    
    Returns: x:pd.DataFrame
    
    """
    
    #Assign df to x
    x = df
    
    categories = x.drop(continuous_variables,axis=1)
    cols = categories.columns.values
    for col in cols:
        counts= categories[col].value_counts()
        length = categories[col].count()
        values = categories[col].unique()
        for value in values:
            if counts[value] < (length * threshold):
                categories[col].replace(value,'Other',inplace=True)
        for col in categories.columns.values:
            x[col] = categories[col]
            
    return x

def clean_string_values(df):
    """
    Strips all whitespace, converts to lowercase and replaces spaces
    
    Arguments: df - pd.DataFrame
    
    Returns: x - pd.DataFrame
    
    """
    
    #Assign df to x 
    x = df 
    
    for col in x.columns.values:
        if x[col].dtypes == 'object':
            x[col] = x[col].str.strip()
            x[col] = x[col].str.lower()
            
    return x            
        

def scale_numeric_columns(df):
    """
    Used to scale numeric columns for PCA
    
    Arguments: df - pd.DataFrame
    
    Returns: x - pd.DataFrame
    
    """
    
    #Assign df to x
    x = df
        
    scaler = MinMaxScaler()
    numeric = x[continuous_variables]
    scaler.fit(numeric)
    numeric = scaler.transform(numeric)
    numeric = pd.DataFrame(numeric,
                           columns=continuous_variables)
    for col in numeric.columns.values:
        x[col] = numeric[col]
    return x

def encode_categorical_columns(df):
    """
    Encodes all cateogrical columns as numeric
    
    Arguments: df - pd.DataFrame
    
    Returns: x - pd.DataFrame
    
    """
    
    #Assign df to x
    x = df
    
    le = LabelEncoder()
    for col in x.columns.values:
        if x[col].dtypes == 'object':
            data = x[col]
            le.fit(data.values.astype(str))
            x[col] = le.transform(data.astype(str))
    
    return x     

def list_unique_values_for_columns(df):
    """
    Lists the unique values for all categorical columns
    
    Arguments: df - pd.DataFrame
    
    Returns: None
    
    """
    
    #Assign df to x
    x = df
    
    for col in x.columns.values:
        if x[col].dtypes == 'object':
            print("column: %s" % col)
            print("list of unique values: %s" % x[col].unique())
    
    return None

In [73]:
#combine both train and test to group low frequency columns 
#this avoids categories that may not have been grouped in train being grouped in test(see below)
group = pd.concat([df_train,df_test],axis=0) 
group.reset_index(inplace=True)
del group['index']
group = clean_string_values(group)
list_unique_values_for_columns(group)

column: class_of_worker
list of unique values: ['not in universe' 'self-employed-not incorporated' 'private'
 'local government' 'federal government' 'self-employed-incorporated'
 'state government' 'never worked' 'without pay']
column: education
list of unique values: ['high school graduate' 'some college but no degree' '10th grade'
 'children' 'bachelors degree(ba ab bs)'
 'masters degree(ma ms meng med msw mba)' 'less than 1st grade'
 'associates degree-academic program' '7th and 8th grade'
 '12th grade no diploma' 'associates degree-occup /vocational'
 'prof school degree (md dds dvm llb jd)' '5th or 6th grade' '11th grade'
 'doctorate degree(phd edd)' '9th grade' '1st 2nd 3rd or 4th grade']
column: enrolled_in_edu_inst_lastwk
list of unique values: ['not in universe' 'high school' 'college or university']
column: marital_status
list of unique values: ['widowed' 'divorced' 'never married' 'married-civilian spouse present'
 'separated' 'married-spouse absent' 'married-a f spouse present']
column: major_industry_code
list of unique values: ['not in universe or children' 'construction' 'entertainment'
 'finance insurance and real estate' 'education'
 'business and repair services' 'manufacturing-nondurable goods'
 'personal services except private hh' 'manufacturing-durable goods'
 'other professional services' 'mining' 'transportation' 'wholesale trade'
 'public administration' 'retail trade' 'social services'
 'private household services' 'utilities and sanitary services'
 'communications' 'hospital services' 'medical except hospital'
 'agriculture' 'forestry and fisheries' 'armed forces']
column: major_occupation_code
list of unique values: ['not in universe' 'precision production craft & repair'
 'professional specialty' 'executive admin and managerial'
 'handlers equip cleaners etc' 'adm support including clerical'
 'machine operators assmblrs & inspctrs' 'other service' 'sales'
 'private household services' 'technicians and related support'
 'transportation and material moving' 'farming forestry and fishing'
 'protective services' 'armed forces']
column: race
list of unique values: ['white' 'asian or pacific islander' 'amer indian aleut or eskimo' 'black'
 'other']
column: hispanic_origin
list of unique values: ['all other' 'do not know' 'central or south american' 'mexican (mexicano)'
 'mexican-american' 'other spanish' 'puerto rican' 'cuban' 'chicano' nan
 'na']
column: sex
list of unique values: ['female' 'male']
column: member_of_labor_union
list of unique values: ['not in universe' 'no' 'yes']
column: reason_for_unemployment
list of unique values: ['not in universe' 'job loser - on layoff' 'other job loser' 'new entrant'
 're-entrant' 'job leaver']
column: full_parttime_employment_stat
list of unique values: ['not in labor force' 'children or armed forces' 'full-time schedules'
 'unemployed full-time' 'unemployed part- time'
 'pt for non-econ reasons usually ft' 'pt for econ reasons usually pt'
 'pt for econ reasons usually ft']
column: tax_filer_status
list of unique values: ['nonfiler' 'head of household' 'joint both under 65' 'single'
 'joint both 65+' 'joint one under 65 & one 65+']
column: region_of_previous_residence
list of unique values: ['not in universe' 'south' 'northeast' 'midwest' 'west' 'abroad']
column: state_of_previous_residence
list of unique values: ['not in universe' 'arkansas' 'utah' 'michigan' 'minnesota' 'alaska'
 'kansas' 'indiana' nan 'massachusetts' 'new mexico' 'nevada' 'tennessee'
 'colorado' 'abroad' 'kentucky' 'california' 'arizona' 'north carolina'
 'connecticut' 'florida' 'vermont' 'maryland' 'oklahoma' 'oregon' 'ohio'
 'south carolina' 'texas' 'montana' 'wyoming' 'georgia' 'pennsylvania'
 'iowa' 'new hampshire' 'missouri' 'alabama' 'north dakota' 'new jersey'
 'louisiana' 'west virginia' 'delaware' 'illinois' 'maine' 'wisconsin'
 'new york' 'idaho' 'district of columbia' 'south dakota' 'nebraska'
 'virginia' 'mississippi' '?']
column: d_household_family_stat
list of unique values: ['other rel 18+ ever marr not in subfamily' 'householder'
 'child 18+ never marr not in a subfamily'
 'child <18 never marr not in subfamily' 'spouse of householder'
 'secondary individual' 'other rel 18+ never marr not in subfamily'
 'nonfamily householder' 'grandchild <18 never marr not in subfamily'
 'grandchild <18 never marr child of subfamily rp'
 'child 18+ ever marr not in a subfamily'
 'child 18+ never marr rp of subfamily' 'child 18+ spouse of subfamily rp'
 'other rel <18 never marr child of subfamily rp'
 'child under 18 of rp of unrel subfamily'
 'grandchild 18+ never marr not in subfamily'
 'child 18+ ever marr rp of subfamily'
 'other rel 18+ ever marr rp of subfamily' 'rp of unrelated subfamily'
 'other rel 18+ spouse of subfamily rp'
 'other rel <18 never marr not in subfamily'
 'other rel <18 spouse of subfamily rp' 'in group quarters'
 'grandchild 18+ spouse of subfamily rp'
 'other rel 18+ never marr rp of subfamily'
 'child <18 never marr rp of subfamily'
 'child <18 ever marr not in subfamily'
 'other rel <18 ever marr rp of subfamily'
 'grandchild 18+ ever marr not in subfamily'
 'child <18 spouse of subfamily rp' 'spouse of rp of unrelated subfamily'
 'other rel <18 never married rp of subfamily'
 'grandchild 18+ never marr rp of subfamily'
 'grandchild 18+ ever marr rp of subfamily'
 'child <18 ever marr rp of subfamily'
 'other rel <18 ever marr not in subfamily'
 'grandchild <18 never marr rp of subfamily'
 'grandchild <18 ever marr not in subfamily']
column: d_household_summary
list of unique values: ['other relative of householder' 'householder' 'child 18 or older'
 'child under 18 never married' 'spouse of householder'
 'nonrelative of householder' 'group quarters- secondary individual'
 'child under 18 ever married']
column: migration_msa
list of unique values: [nan 'msa to msa' 'nonmover' 'nonmsa to nonmsa' 'not in universe'
 'not identifiable' 'abroad to msa' 'msa to nonmsa' 'abroad to nonmsa'
 'nonmsa to msa' '?']
column: migration_reg
list of unique values: [nan 'same county' 'nonmover' 'different region'
 'different county same state' 'not in universe'
 'different division same region' 'abroad' 'different state same division'
 '?']
column: migration_within_reg
list of unique values: [nan 'same county' 'nonmover' 'different state in south'
 'different county same state' 'not in universe'
 'different state in northeast' 'abroad' 'different state in midwest'
 'different state in west' '?']
column: live_1_year_ago
list of unique values: ['not in universe under 1 year old' 'no' 'yes']
column: migration_sunbelt
list of unique values: [nan 'yes' 'not in universe' 'no' '?']
column: family_members_under_18
list of unique values: ['not in universe' 'both parents present' 'mother only present'
 'neither parent present' 'father only present']
column: country_father
list of unique values: ['united-states' 'vietnam' 'philippines' nan 'columbia' 'germany' 'mexico'
 'japan' 'peru' 'dominican-republic' 'south korea' 'cuba' 'el-salvador'
 'canada' 'scotland' 'outlying-u s (guam usvi etc)' 'italy' 'guatemala'
 'ecuador' 'puerto-rico' 'cambodia' 'china' 'poland' 'nicaragua' 'taiwan'
 'england' 'ireland' 'hungary' 'yugoslavia' 'trinadad&tobago' 'jamaica'
 'honduras' 'portugal' 'iran' 'france' 'india' 'hong kong' 'haiti' 'greece'
 'holand-netherlands' 'thailand' 'laos' 'panama' '?']
column: country_mother
list of unique values: ['united-states' 'vietnam' nan 'columbia' 'mexico' 'el-salvador' 'peru'
 'puerto-rico' 'cuba' 'philippines' 'dominican-republic' 'germany'
 'england' 'guatemala' 'scotland' 'portugal' 'italy' 'ecuador' 'yugoslavia'
 'china' 'poland' 'hungary' 'nicaragua' 'taiwan' 'ireland' 'canada'
 'south korea' 'trinadad&tobago' 'jamaica' 'honduras' 'iran' 'france'
 'cambodia' 'india' 'hong kong' 'haiti' 'japan' 'greece'
 'holand-netherlands' 'thailand' 'panama' 'laos'
 'outlying-u s (guam usvi etc)' '?']
column: country_self
list of unique values: ['united-states' 'vietnam' nan 'columbia' 'mexico' 'peru' 'cuba'
 'philippines' 'dominican-republic' 'el-salvador' 'canada' 'scotland'
 'portugal' 'guatemala' 'ecuador' 'germany' 'outlying-u s (guam usvi etc)'
 'puerto-rico' 'italy' 'china' 'poland' 'nicaragua' 'taiwan' 'england'
 'ireland' 'south korea' 'trinadad&tobago' 'jamaica' 'honduras' 'iran'
 'hungary' 'france' 'cambodia' 'india' 'hong kong' 'japan' 'haiti'
 'holand-netherlands' 'greece' 'thailand' 'panama' 'yugoslavia' 'laos' '?']
column: citizenship
list of unique values: ['native- born in the united states' 'foreign born- not a citizen of u s'
 'foreign born- u s citizen by naturalization'
 'native- born abroad of american parent(s)'
 'native- born in puerto rico or u s outlying']
column: fill_questionnaire_veteran_admin
list of unique values: ['not in universe' 'no' 'yes']
column: income_level
list of unique values: [nan '-50000' '50000+.']

In [74]:
group = convert_income_level(group)
group = scale_numeric_columns(group)
group = remove_columns_with_null_values(group,0.95)
group = group_low_frequency_categories(group,0.05)
list_unique_values_for_columns(group)

column: class_of_worker
list of unique values: ['not in universe' 'Other' 'private']
column: industry_code
list of unique values: [0 'Other' 33]
column: occupation_code
list of unique values: [0 'Other']
column: education
list of unique values: ['high school graduate' 'some college but no degree' 'Other' 'children'
 'bachelors degree(ba ab bs)']
column: enrolled_in_edu_inst_lastwk
list of unique values: ['not in universe' 'Other']
column: marital_status
list of unique values: ['widowed' 'divorced' 'never married' 'married-civilian spouse present'
 'Other']
column: major_industry_code
list of unique values: ['not in universe or children' 'Other' 'retail trade']
column: major_occupation_code
list of unique values: ['not in universe' 'precision production craft & repair'
 'professional specialty' 'executive admin and managerial' 'Other'
 'adm support including clerical' 'other service' 'sales']
column: race
list of unique values: ['white' 'Other' 'black']
column: hispanic_origin
list of unique values: ['all other' 'Other']
column: sex
list of unique values: ['female' 'male']
column: member_of_labor_union
list of unique values: ['not in universe' 'no' 'Other']
column: reason_for_unemployment
list of unique values: ['not in universe' 'Other']
column: full_parttime_employment_stat
list of unique values: ['not in labor force' 'children or armed forces' 'full-time schedules'
 'Other']
column: tax_filer_status
list of unique values: ['nonfiler' 'Other' 'joint both under 65' 'single']
column: region_of_previous_residence
list of unique values: ['not in universe' 'Other']
column: state_of_previous_residence
list of unique values: ['not in universe' 'Other']
column: d_household_family_stat
list of unique values: ['Other' 'householder' 'child 18+ never marr not in a subfamily'
 'child <18 never marr not in subfamily' 'spouse of householder'
 'nonfamily householder']
column: d_household_summary
list of unique values: ['Other' 'householder' 'child 18 or older' 'child under 18 never married'
 'spouse of householder']
column: live_1_year_ago
list of unique values: ['not in universe under 1 year old' 'no' 'yes']
column: num_person_Worked_employer
list of unique values: [0 1 6 4 'Other' 3 2]
column: family_members_under_18
list of unique values: ['not in universe' 'both parents present' 'mother only present' 'Other']
column: country_father
list of unique values: ['united-states' 'Other' 'mexico']
column: country_mother
list of unique values: ['united-states' 'Other']
column: country_self
list of unique values: ['united-states' 'Other']
column: citizenship
list of unique values: ['native- born in the united states' 'foreign born- not a citizen of u s'
 'Other']
column: business_or_self_employed
list of unique values: [0 2 'Other']
column: fill_questionnaire_veteran_admin
list of unique values: ['not in universe' 'Other']
column: veterans_benefits
list of unique values: [2 0 'Other']

In [ ]:
group = encode_categorical_columns(group)

In [55]:
group.state_of_previous_residence.unique()

array([1, 2, 0], dtype=int64)

In [22]:
#oversample data to help with imbalance

#display imbalance of training data
print(Counter(df_train['income_level']))
train = remove_columns_with_null_values(
    scale_numeric_columns(
        encode_categorical_columns(convert_income_level(df_train))), 0.95)

Counter({-50000: 187141, 50000: 12382})

In [23]:
print(Counter(train['income_level']))

Counter({0: 187141, 1: 12382})

In [24]:
X_train,y_train = train.drop(['income_level'],axis=1),train['income_level']
X_resampled,y_resampled = SMOTE(random_state=0).fit_sample(X_train,y_train)

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,country_father,country_mother,country_self,citizenship,business_or_self_employed,fill_questionnaire_veteran_admin,veterans_benefits,weeks_worked_in_year,year,income_level
199523,38,Private,6,36,1st 2nd 3rd or 4th grade,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,12,95,-50000
199524,44,Self-employed-not incorporated,37,12,Associates degree-occup /vocational,0,Not in universe,Married-civilian spouse present,Business and repair services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,26,95,-50000
199525,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
199526,35,Private,29,3,High school graduate,0,Not in universe,Divorced,Transportation,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,-50000
199527,49,Private,4,34,High school graduate,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95,-50000
199528,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Germany,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
199529,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Mexico,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
199530,61,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199531,38,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199532,7,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
199533,30,Private,30,26,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Communications,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
199534,85,Not in universe,0,0,10th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199535,33,Private,36,27,High school graduate,0,Not in universe,Married-civilian spouse present,Private household services,Private household services,...,Trinadad&Tobago,Trinadad&Tobago,Trinadad&Tobago,Foreign born- Not a citizen of U S,0,Not in universe,2,30,94,-50000
199536,26,Private,33,29,Some college but no degree,425,Not in universe,Never married,Retail trade,Other service,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,17,94,-50000
199537,46,Private,37,21,High school graduate,0,Not in universe,Married-civilian spouse present,Business and repair services,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
199538,19,Private,33,26,Some college but no degree,0,College or university,Never married,Retail trade,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
199539,11,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Mexico,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
199540,23,Private,45,26,Bachelors degree(BA AB BS),0,College or university,Married-civilian spouse present,Other professional services,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
199541,27,Private,37,31,High school graduate,0,Not in universe,Married-civilian spouse present,Business and repair services,Other service,...,?,?,?,Foreign born- Not a citizen of U S,1,Not in universe,2,50,94,-50000
199542,35,Self-employed-not incorporated,4,2,High school graduate,0,Not in universe,Divorced,Construction,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.
199543,8,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
199544,29,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,-50000
199545,40,Private,42,2,Some college but no degree,0,Not in universe,Divorced,Medical except hospital,Executive admin and managerial,...,?,?,?,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,-50000
199546,24,Private,33,16,High school graduate,0,Not in universe,Married-civilian spouse present,Retail trade,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199547,45,Private,33,16,Some college but no degree,930,Not in universe,Married-civilian spouse present,Retail trade,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199548,27,Private,40,23,Some college but no degree,0,Not in universe,Never married,Entertainment,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199549,41,Local government,47,28,High school graduate,0,Not in universe,Married-civilian spouse present,Public administration,Protective services,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199550,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
199551,73,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,?,?,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199552,46,Private,32,33,Some college but no degree,0,Not in universe,Married-civilian spouse present,Wholesale trade,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,36,94,-50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299255,54,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,30,94,-50000
299256,0,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
299257,45,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Mexico,Mexico,Mexico,Foreign born- U S citizen by naturalization,0,Not in universe,2,0,94,-50000
299258,45,Private,40,31,High school graduate,1026,Not in universe,Married-civilian spouse present,Entertainment,Other service,...,Philippines,Philippines,Philippines,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,-50000
299259,30,Private,33,16,Bachelors degree(BA AB BS),1200,Not in universe,Never married,Retail trade,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
299260,73,Not in universe,0,0,10th grade,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Italy,Italy,United-States,Native- Born in the United States,0,Not in universe,2,1,94,-50000
299261,4,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
299262,5,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
299263,40,Private,37,26,High school graduate,0,Not in universe,Married-civilian spouse present,Business and repair services,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,1,Not in universe,2,48,95,-50000
299264,52,Federal government,34,26,High school graduate,0,Not in universe,Widowed,Finance insurance and real estate,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
299265,20,Private,2,44,High school graduate,0,Not in universe,Never married,Agriculture,Farming forestry and fishing,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,26,95,-50000
299266,7,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
299267,55,Private,34,17,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
299268,75,Not in universe,0,0,Bachelors degree(BA AB BS),0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,Canada,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
299269,0,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
299270,57,Private,24,2,Some college but no degree,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
299271,22,Private,40,44,Some college but no degree,0,Not in universe,Never married,Entertainment,Farming forestry and fishing,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,27,95,-50000
299272,48,Private,35,26,High school graduate,0,Not in universe,Divorced,Finance insurance and real estate,Adm support including clerical,...,United-States,?,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
299273,23,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,England,England,England,Foreign born- Not a citizen of U S,0,Not in universe,2,0,94,-50000
299274,22,Private,43,26,Some college but no degree,0,College or university,Never married,Education,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
299275,46,Private,44,3,Some college but no degree,0,Not in universe,Married-civilian spouse present,Social services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
299276,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
299277,17,Private,33,29,10th grade,0,High school,Never married,Retail trade,Other service,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,1,95,-50000
299278,20,Not in universe,0,0,Some college but no degree,0,College or university,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
299279,4,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
299280,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
299281,61,Private,8,36,11th grade,0,Not in universe,Separated,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
299282,24,Self-employed-not incorporated,1,43,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Agriculture,Farming forestry and fishing,...,Mexico,Mexico,Mexico,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,94,-50000
299283,30,Private,45,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Other professional services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,-50000
299284,67,Not in universe,0,0,9th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,-50000